apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: home-lab-pipeline-run
  generateName: home-lab-pipeline-run-
spec:
  pipelineRef:
    name: home-lab-pipeline
  podTemplate:
    securityContext:
      fsGroup: 65532
  workspaces:
  - name: shared-data
    volumeClaimTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
  params:
  - name: repo-url
    value: https://github.com/Beyond-DevOps-Cloud/home-lab.git